*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: url('../anh/nn.jpg') no-repeat center center/cover;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-around;

}



.buy {
    background: gold;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    color: black;
    font-size: 15px;

    border: 2px solid black;
}

.buy:hover {
    background-color: white;
}

.shop:hover {
    background-color: white;
}

.shop {
    background: gold;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid black;
}

.btn-header {
    margin: 5px 0;
    margin-bottom: 10px;
    
}

.menu {
    margin: 1px;
}

.menu h3 {
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-shadow: 1px 0 2px violet;
    padding-bottom: 10px;
    padding: 0 5px;
    font-style: italic
}


.row-1 i { 
    font-size: 18px;
    color:ivory;
    text-decoration: none;
    padding: 0 5px;
}

.nav-bg {
    margin: 0;
    padding: 0;
    background: black;
}

.row-nav {
    display: flex;
    justify-content: center;
}

.row-nav a {
    color: wheat ;
    font-size: 18px;
    letter-spacing: 1.2px;
    text-decoration: none;
    padding: 0.2rem 1.5rem;
    border-right: 1px solid white;
}

.row-nav a:hover {
    color: white;
    background: red;
}

.form input {
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
}

.form {
margin-top: 2.1px;

}

.form button
{
    background: orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
    padding: 7px;
}

.slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 500px;
    overflow: hidden;
    
}

.slide {
    position: absolute;
    width: 98.7%;
    height: 80%;
    top: 0;
    left: 0;
    display: none;
    
}
.show {
    display: block;
}

.slide:first-child {
    background: url('anh/free.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url('anh/bamot.jpg') no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: url('anh/combo.jpg') no-repeat center center/cover;
}

/* .content {
    position: absolute;
    top: 75%;
    left: 55%;
} */
.node {
    position: absolute;
    bottom: 10rem;
    left: 50%;
}

.node a {
    text-decoration: none;
    background: white;
    padding: 3px;
    border: none;
    border-radius: 50%;
    outline: none;
    margin: 0 9px;
    font-weight:500;
}
.active {
    color: red;
}

.bg-1 { 
     border: 1px solid black;
    background: url('../anh/anhnen.jpg');
    width: 1350px;
    height: 350px;
    margin-top:-100px;
    padding: 0;
}
.container-1 {
    width: 85%;
    margin: 10px;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}


.box {
    
    margin: 28px;
    border-radius: 3px;
    border: 2px gray solid;
    text-align: center;
    box-shadow: 2px 7px 7px 7px orangered;
}
.box h1{
    color: wheat;
    font-size: 15px;
    text-shadow: 1px 1px 2px grey;
    font-weight: 500;
}
.box p {
    color: wheat;
    font-size: 15px;
    padding-top:20px;
    font-weight: 500;
}
.box button {
    background: greenyellow;
    color: darkcyan;
    font-size: 20px;
    box-shadow: 1px 0 2px white;
    border: none;
    border-radius:0.5rem 1.4rem ;
    padding: 0.2rem 1.2rem;
}


.bg-2 {
    background: black;
    width: 100vw;
    margin: 0;
    padding: 0;     
}

.his {
    background:black;
    width: 100%;
    margin: 0;
    padding: 0;
}
.his h1 {
    color:orange;
    font-weight: 500;
    font-size: 40px;
    box-shadow: 8px 0 10px orangered;
    text-align: center;
}
.row-3 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.content-2 {
    text-align: center;
}

.content-2 p {
    font-size:20px ;
    color: darkorange;
    padding-left: 10px;

}

.content-2 h3 {
     font-size: 30px;
     color: darkorange;
     padding-left: 10px;
}

.content-2 button {
    background: red;
    color: wheat;
    border-radius:0.5rem 1.4rem ;
    padding:3px 10px;
}

.row-4 {
    background: black;
    display: flex;
    margin-top: -9px;
    
}
.row-4 h1 {
    padding-top: 20px;
    
}

.box-4 {
    padding-bottom: 40px;
}

.content-3 {
    flex-grow: 4;

}

.content-4 {
    flex-grow: 6;
}

.content-3 h1, .content-4 h1 {
    font-size: 24px;
    color: whitesmoke;
    padding-bottom: 20px;
    margin-left: 130px;
    margin-top: 20px;
    
}

.content-3 a {
    font-size: 29px;
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 10px;
    padding: 70px;

}

.pi:hover {
    color: red;
}

.row-5 {
    display: flex;
    margin-left:0;
}

.content-5 {
     color:darkorange;   
     background-color: wheat;
}
.content-5 h1 {
    padding: 40px;
    height: 100px;
    font-size: 30px;
}
.content-5 p {
    text-align: center;
    font-style: italic;
    height: 20px;
    font-size: 20px;
}

.row-6 {
    background:  black;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 1px;
    height: 170px;
}

.for-1 h1 {
    color: whitesmoke;
    font-size: 30px;
    padding-top: 20px;

}

.for-1 span {
    color: wheat;
    font-size: 15px;
    
}

.for-1 a {
    text-decoration: none;
    font-style: italic;
    color:wheat;
}